.cover-cta .button {
    background-color: var(--brand-color) !important;
    color: var(--color-white, #fff) !important;
    border: none !important;
}



.gh-foot-inner {
    grid-template-columns: auto;
    justify-items: center;
}

